<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Server=localhost;Database=dbdeploy;User ID=MyUser;Password=MyPassword1;Trusted_Connection=False;Encrypt=True;"/>
    <add key="DatabaseType" value="mssql"/>
    <add key="LastChangeToApply" value="9999999"/>
    <add key="OutputFile" value="..\ProductionUpdate.sql"/>
    <add key="Recursive" value="True"/>
    <add key="RootDirectory" value="..\Scripts\"/>
    <add key="SearchPattern" value="*.sql"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
