<?xml version="1.0"?>
<log4net>
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="DbDeploy2.log"/>
    <immediateFlush>true</immediateFlush>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
    <appendToFile value="true"/>
    <datePattern value="yyyyMMdd"/>
    <rollingStyle value="Date"/>
    <maximumFileSize value ="10MB"/>
    <MaxSizeRollBackups value="180" />
    <filter type="log4net.Filter.LoggerMatchFilter">
      <LoggerToMatch value="Veracity.Utilities.Logging.LogUtility"/>
      <acceptOnMatch value="false"/>
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger %ndc - %message%newline" />
    </layout>
  </appender>
  <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
    <mapping>
      <level value="ERROR" />
      <foreColor value="White" />
      <backColor value="Red, HighIntensity" />
    </mapping>
    <mapping>
      <level value="DEBUG" />
      <backColor value="Green" />
    </mapping>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>
  <root>
    <level value="INFO"/>
    <appender-ref ref="ColoredConsoleAppender" />
  </root>
  <logger name="Veracity.Utilities.DatabaseDeploy.DeploymentService">
    <level value="INFO"/>
    <appender-ref ref="RollingLogFileAppender"/>
  </logger>
</log4net>
