<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Server=Server;Database=Database;User ID=User;Password=Password;Trusted_Connection=False;Encrypt=True;"/>
    <add key="DatabaseType" value="mssql"/>
    <add key="LastChangeToApply" value="9999999"/>
    <add key="OutputFile" value="..\ProductionUpdate.sql"/>
    <add key="Recursive" value="True"/>
    <add key="RootDirectory" value="..\Scripts\"/>
    <add key="SearchPattern" value="*.sql"/>
  </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
